body {
  padding: 0;
  margin: 0;
}

h1 {
  background-color: chocolate;
  text-align: justify;
}
p {
  background-color: lightcoral;
  padding: 0;
  display: none;
}
.a:hover p {
  display: block;
  background-color: lightpink;
  color: black;
}
.b:hover p {
  display: block;
  background-color: rgb(156, 156, 202);
  color: black;
}
